doctype html
html
    head
        title="Spectator mode"
        meta(charset='utf-8')

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        script(src="//use.typekit.net/yex2duw.js")
        script.
            try{Typekit.load();}catch(e){}

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")

        each stylesheet in css
            link(rel="stylesheet", href!=stylesheet)
    body
        #app!= content

        script(src!= script)