@mixin clear {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin r($value, $operator: "min-width", $query: 'screen') {
	@media only #{$query} and (#{$operator}: #{$value}) {
		@content;
	}
}

@mixin bp($media-name) {

	@if $media-name == nth(nth($breakpoints, 1), 1) {
		@include r(nth(nth($breakpoints, 2), 2) - 1, "max-width") { @content; }
	}

	@else {

		@each $bp in $breakpoints {
			$bp-name: nth($bp, 1);
			$bp-val: nth($bp, 2);

			@if $bp-name == $media-name {
				@include r($bp-val) {
					@content;
				}
			}
		}
	}
}