.main-nav {

	a {
		color: $darkgrey;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		font-weight: 700;
		border: 4px solid transparent;
		text-transform: uppercase;
		text-align: center;

		&:hover {
			color: $green;
		}

		&.active {
			color: $purple;
			border-bottom: 4px solid $green;
		}
	}
}

.content-nav {
	background: $darkblue;/* repeating-linear-gradient(
		-45deg, transparent, transparent 3px, rgba($grey, 0.04) 1px,rgba($grey, 0.04) 6px
	);*/
	display: flex;
	align-items: stretch;
	justify-content: center;

	a {
		padding: 1em 2em;
		margin-right: 1em;
		text-decoration: none;
		font-size: .9em;
		color: $whitegrey;
		text-transform: uppercase;
		font-weight: 900;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $green;
		}

		&.active {
			background: $green;
			color: $darkblue;
			position: relative;
			z-index: 10;
		}
	}
}