$blue: #376AD5;
$green: #4DE3B0;
$purple: #684175;
$grey: #C0C0C0;
$lightgrey: #E2E2E2;
$whitegrey: #F8F8F8;
$darkgrey: #454545;
$darkblue: #1A2022;

$breakpoints: "mobile" 0px, "tablet" 768px, "desktop" 1024px, "wide" 1280px !default;
$default-width: 940px !default;

$bodyPadding: 3em;