@import 'variables';
@import 'mixins';

@import 'nav';
@import 'card';
@import 'cardList';

* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', Arial, sans-serif;
}

div > h1 {
	color: blue !important;
	margin-top: 0;
}

h3 {
	margin: 0 0 .2em;
}

a {
	color: $purple;
}

.container {
	padding-left: $bodyPadding;
	padding-right: $bodyPadding;
}