@import 'variables';
@import 'mixins';

@import 'header';
@import 'nav';
@import 'user';
@import 'card';
@import 'cardList';
@import 'resourcePage';

* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', Arial, sans-serif;
}

.app-wrapper {
	height: 100%;
	background: $whitegrey;
}

.content-body {
	position: relative;
}

div > h1 {
	color: blue !important;
	margin-top: 0;
}

h3 {
	margin: 0 0 .2em;
}

a {
	color: $purple;
}

.container {
	padding-left: $bodyPadding;
	padding-right: $bodyPadding;
}

.transition-container {
	position: relative;
}